.hedr{
    display: flex;
    justify-content: space-between;
}
button{
    border: none;
    background-color: rgba(186, 66, 112, 1);
    color: white;
    border-radius: 25px;
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;

}
.me h1{
    width: 200px;
}
.m{
    display: flex;
    justify-content: center;
    align-items: center;
}